.embedded-editor > .ace_gutter {
  border-bottom-left-radius: 0.5rem;
}
.embedded-editor > .ace_scroller {
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.embedded-editor > .ace_editor {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
